{{> navbar-home}}


<form  action="/login" method="post">


  <div class="login-box">

      {{#if error}}
      <h1>{{error}}</h1>
      {{/if}}
      <div class="email-box">
          <label>Email/ID: </label>
          <div class="input-box">
              <input type="text" id="email" name="userID" value="{{#if rememberMe}}{{loginDetails}}{{/if}}">
          </div>

      </div>
      <div class="email-box-2">
          <label>Password: </label>
          <div class="input-box">
              <input type="password" id="pwd" name="password" value="{{#if rememberMe}}{{loginPassword}}{{/if}}">
          </div>

      </div>
      <div class="bottom">

        <!--Default routed to first user id-->

          <button type="submit" class="login-button">Login</button>

          <div class="forgot-pass">
              <a href="#">Forgot password?</a>
          </div>

      </div>
  </div>
</form>
