{{> navbar-home}}

<div class="register-form-section">
  <div class="register-body">
    <div class="register-form-header">
      <h1>Sign up a new user account</h1>
      <br>
    </div>

    <div class="d-flex justify-content-center">
      <div class="d-flex p-5 flex-column justify-content-center">
        <form action="/register" method="POST">

          <label class="form-proper">Username</label><br>
          <input type="text" name="username" class="form-proper" required><br>


          <label class="form-proper">First Name</label><br>
          <input type="text" name="firstname" class="form-proper" required><br>


          <label class="form-proper">Middle Initial</label><br>
          <input type="text" name="mi" class="form-proper" required><br>


          <label class="form-proper">Last Name</label><br>
          <input type="text" name="lastname" class="form-proper" required><br>

          <label class="form-proper">DLSU ID</label><br>
          <input type="text" name="id" class="form-proper" required><br>

          <label class="form-proper">DLSU Email</label><br>
          <input type="text" name="email" class="form-proper" required><br>

          <label class="form-proper">Password</label><br>
          <input type="password" name="password" class="form-proper" required><br>

          <label class="form-proper">Confirm Password</label><br>
          <input type="password" name="Password-Confirmation" class="form-proper" required><br>


          <br><br>
          <div class="d-flex flex-row justify-content-center">

            <input type="reset" value="Clear" class="form-proper mx-5 btn-hover-1"></input>  <!--Probably not needed since form is really short anyway -->



            <input type="submit" value="Register" class="form-proper mx-5 btn-hover-1"></input>


          </div>

        </form>
      </div>
    </div>

  </div>
</div>
