
.register-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px;
  
  }
  .register-form-header{
    display: flex;
    padding: 10px;
    align-items: center;
    color:#FBFADA;
    font-family: "Bree Serif";
  }
  .register-body{
    background-color: #436850;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding-left: 50px;
    align-items: center;
    width: 50%;
  }
  .form-proper{
    width: 100%;
  
  
  
  }
  
  label.form-proper{
    font-weight: 500;
  
    display: flex;
    justify-content: start;
    font-family: "Bree Serif";
    font-size: 1.5rem;
    color:#ADBC9F;
  
  
  }
  
  input.form-proper, textarea.form-proper{
    outline: 0;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  select.form-proper{
    outline: 0;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding: 10px;
    font-weight: 500;
  }
  
  input.form-proper[type=text], input.form-proper[type=password] {
    width: 90%;
    height: 35px;
  }
  
  input.form-proper[type=submit] {
    width: 175px;
    height: 50px;
    background: #236850;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  
  input.form-proper[type=reset] {
    width: 100px;
    height: 50px;
    background: white;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-hover-1{
    transition: all 0.2s ease-in-out;
  }
  .btn-hover-1:hover{
    transform: scale(1.1);
    font-weight: 900;
  
  
  }
  textarea{
    resize: none;
  }
  