.reserve-edit{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #436850;
    width: 100%;
    height: calc(100vh - 56px);
    margin-top: -65px;
    margin-bottom: 0;
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px ridge #436850;
    margin: 10px 10px;
    padding: 100px;
    background-color: #FBFADA;
    width: 100%;

}

.inner-box > h1 {
    color: #436850;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -10px;
}

.inner-box-table{
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border: 2px solid black;
    width: 70%;
    text-align: center;
}

.tc{
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

td:hover{
    background-color: black;
    color: white;
 }

.view-button{
    border-radius: 40px;
    background-color:#436850;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    transition: all 0.2s ease-in-out;
}

.view-button:hover{
    background-color:#ADBC9F;
    color:black;
    cursor: pointer;

}

.header {
    background-color: #436850;
    color:  #FBFADA;
}
