.modal-content{
    font-family: "Montserrat";
  }
  
  
  .modal-header{
    font-weight: bold;
    background-color: #FBFADA;
  }
  .modal-body{
    background-color: #12372A;
    color: #FBFADA;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-footer{
    background-color: #FBFADA !important;
  }
  
  
  .btn-secondary{
    background-color: #12372A !important;
  }
  
  .btn-primary{
    background-color: #12372A !important;
    color: #CDFADB !important;
    transition: all 0.2s ease-in-out !important;
  }
  .btn-danger{
    color: white !important;
    background-color: red !important;
  }
  .btn-primary:hover{
    transform: scale(1.1) !important;
    font-weight: bold !important;
  
  }
  
  .btn-secondary:hover{
    transform: scale(1.1) !important;
    font-weight: bold !important;
  
  }
  
  table{
  
    border: 5px solid #ADBC9F;
    padding: 30px;
    text-align:center;
  
  }
  .tc{
    border: 5px solid #ADBC9F;
    padding: 10px;
  
  }
  
  .taken-slot-text:hover{
    cursor: pointer;
    color:#FBFADA;
  }
  