

.no-decor{
    text-decoration:none
  }
  .custom-default-font1{
    font-family: "Montserrat";
    font-size: 1rem;
  }
  .custom-default-font2{
    font-family: "Montserrat";
    font-size: 1rem;
  }
  
  .custom-color1
  {
    color: #FBFADA;
  }
  .index-navbar{
    background-color: #12372A;
    z-index: 998;
  
  }
  .custom-color2
  {
    color: #ADBC9F;
  }
  
  .header-custom2
  {
    font-size: 2.5rem;
    font-family: "Pacifico";
    font-weight: 400;
  }
  .animo-text{
    margin-left: 10px;
    margin-right: 30px;
  }
  .animo-icon{
    margin-left: 10px
  }
  
  .pic-and-mail{
    position: relative;
  }
  .mail-icon-section{
    position: absolute;
    top: 60px;
    left: 60px;
    color: #FBFADA;
    z-index: 2;
  }
  .circle-icon{
    color: red;
    position: relative;
    bottom: 45px;
    left: 25px;
    z-index: 3;
  }
  
  .mail-icon-section:hover{
    color: #CDFADB;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .custom-color3{
    color: #CDFADB;
  }
  
  
  body{
    padding-top: 113px;
  
  }
  .search-bar-input{
  
    width: 400px !important;
    height: 40px !important;
  
  }
  .profile-section{
    display: flex;
    padding-right: 20px;
    width: 39%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  
  }
  .profile-section-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-section-text{
    font-family: "Montserrat";
    font-size: normal;
    color: #FBFADA;
    font-size: 1.25rem;
    margin-right: 10px;
  }
  
  
  .animo-text:hover
  {
  
    animation: slightly-big 1s ease-in-out infinite alternate;
  
  }
  
  
  .profile-body{
    display: flex;
    margin-left: 20px;
    width: 100%;
    padding: 50px;
  
  }
  
  
  
  .profile-pic-and-name{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  
  }
  .custom-header1
  {
    font-family: "Ubuntu";
    color:#ADBC9F;
  }
  p{
    font-family: "Montserrat";
  }
  
  
  
  
  .reservation-next-days{
    justify-content: center;
    align-items: center;
  }
  
  .day-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .day {
    width: calc(100% / 7);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .format-date{
    color: #FBFADA;
    background-color: #12372A;
  
  }
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
  }
  
  .toggle-sidebar-btn {
  
    top: 10px;
    left: 10px;
    z-index: 6;
  }
  
  .hidden-sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #ADBC9F;
    padding-top: 150px;
    transition: left 0.2s ease-in-out;
    z-index: 5;
  }
  
  .hidden-sidebar.show {
  
    left: 0px;
  }
  .icon-section{
    margin-right: 20px;
  }
  .checkbox-section{
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .sidebar-section-container{
    display: flex;
    align-items: center;
  
    padding: 20px;
    font-size: 18px;
    font-family: "Montserrat";
  }
  
  .sidebar-section-container:hover{
    cursor: pointer;
  
    background-color: #436850;
    color: white;
  
  }
  
  
  .close-btns{
    position: absolute;
    transform: scale(0.8);
    font-size: 1rem;
    left: 97%;
    bottom:90%;
  }
  
  .custom-btn-4{
  
    background-color: #FBFADA;
    font-size:4rem;
    font-weight: bold;
    font-family: "Montserrat";
    margin: 30px;
    padding: 20px;
  
  }
  
  .btn-hover-custom-1{
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-hover-custom-2{
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-hover-custom-2:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 6px solid #ADBC9F;
  }
  
  .btn-hover-custom-1:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 6px solid black;
  }
  
  .custom-btn-5{
    margin: 30px;
    padding: 20px;
    background-color: #436850;
    color: white;
    font-size:4rem;
    font-weight: bold;
    font-family: "Montserrat";
  }
  .student-select-section{
    width: 100%;
    border: 20px ridge #436850;
  }
  
  .student-table-section{
    display: flex;
    justify-content:center;
    padding: 0 100px;
    background-color: #ADBC9F;
    width: 100%;
  }
  
  .table-scroll-section{
    max-height: 400px;
    overflow: auto;
  
  }
  
  .reserve-user-input{
    margin-right: 10px;
  }
  
  
  .search-section{
    display: flex;
    justify-content: center;
    margin: 50px 100px;
    font-family: "Montserrat"
  }
  
  table{
    border: 5px solid black;
    background-color: #FBFADA;
  }
  
  .room-selection-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .table-cell{
    border: 3px solid black;
    padding: 20px;
    font-family: "Montserrat"
  
  }
  
  .custom-btn-1{
    font-family: "Montserrat";
    font-size: 1rem;
    border-radius: 10px;
    background-color: #FBFADA;
    transition: all 0.2s ease-in-out
  }
  
  .custom-btn-1:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
  
  }
  
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1999;
  }
  .x-button-align-section{
    display: flex;
    justify-content: flex-end;
  }
  .select-room-modal{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    width: 90%;
    overflow: auto;
    margin-top: 20px;
    border: 20px ridge #12372A;
    flex: wrap;
    justify-content: space-between;
    z-index: 2000;
  
  }
  
  .reserve-student-button{
    border-radius: 10px;
    background-color: #436850;
    color:#FBFADA;
    transition: all 0.2s ease-in-out;
  }
  
  .reserve-student-button:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: #FBFADA;
    background-color: #12372A;
  }
  