

a:link {
    color: black;
    text-decoration: none;
  }
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
.no-decor{
    text-decoration:none

}
    .custom-default-font1{
      font-family: "Montserrat";
      font-size: 1rem;
    }
  
    .custom-color1
    {
      color: #FBFADA;
    }
    .index-navbar{
      background-color: #12372A;
  
    }
    .custom-color2
    {
      color: #ADBC9F;
    }
  
    .header-custom2
    {
      font-size: 2.5rem;
      font-family: "Pacifico";
      font-weight: 400;
    }
    .animo-text{
      margin-left: 10px;
      margin-right: 30px;
    }
    .animo-icon{
      margin-left: 10px
    }
  
    .pic-and-mail{
      position: relative;
    }
    .mail-icon-section{
      position: absolute;
      top: 60px;
      left: 60px;
      color: #FBFADA;
      z-index: 2;
    }
    .circle-icon{
      color: red;
      position: relative;
      bottom: 45px;
      left: 25px;
      z-index: 3;
    }
  
    .mail-icon-section:hover{
      color: #CDFADB;
      cursor: pointer;
      transform: scale(1.2);
    }
  
    .custom-color3{
      color: #CDFADB;
    }
  
  
    body{
      padding-top: 180px;
    }
    .search-bar-input{
  
      width: 400px !important;
      height: 40px !important;
  
    }
    .profile-section{
      display: flex;
      padding-right: 20px;
      width: 39%;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
  
    }
    .profile-section-pic{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .profile-regular-pic{
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
    .profile-section-text{
      font-family: "Montserrat";
      font-size: normal;
      color: #FBFADA;
      font-size: 1.25rem;
      margin-right: 10px;
    }
  
  
    .animo-text:hover
    {
  
      animation: slightly-big 1s ease-in-out infinite alternate;
  
    }
  
    body {
      font-family: 'Arial', sans-serif;
      display: flex;
    }
  
    .toggle-sidebar-btn {
  
      top: 10px;
      left: 10px;
      z-index: 6;
    }
  
    .hidden-sidebar {
      display: block;
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #ADBC9F;
      padding-top: 150px;
      transition: left 0.2s ease-in-out;
      z-index: 5;
    }
  
    .show {
  
      left: 0px;
    }
    .icon-section{
      margin-right: 20px;
    }
    .checkbox-section{
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    .sidebar-section-container{
      display: flex;
      align-items: center;
  
      padding: 20px;
      font-size: 18px;
      font-family: "Montserrat";
    }
  
    .sidebar-section-container:hover{
      cursor: pointer;
  
      background-color: #436850;
      color: white;
  
    }
  
    .date-details{
      background-color: #ADBC9F;
      margin-bottom: 20px;
    }
    .toggle-sidebar-custom1{
      background-color: #12372A;
      transition: background-color 0.2s ease-in-out;
  
    }
  
    .toggle-sidebar-custom1:hover{
      background-color: white;
    }
    .fa-bars{
      color: #FBFADA;
    }
    .close-btns{
      transform: scale(0.8);
    }
    @keyframes slightly-big{
      from{
        transform: scale(1);
      }
      to{
        transform: scale(1.2);
  
      }
    }
  