<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Reservation</h5>
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                Are you sure you want to confirm the following informaiton:<br>
                 <strong id="confirmation-labName"></strong>
                <table>
                  <thead>
                    <th class="tc">Time slot</th>
                    <th class="tc">Seat number</th>
                  </thead>
                  <tbody>


                  </tbody>

                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <a href="{{confirmedURL}}">
                  <button type="button" id="confirmModalBtn" class="btn btn-primary">Confirm</button>
                </a>

            </div>
        </div>
    </div>
</div>
