

<nav class="index-navbar navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <i class="custom-color1 animo-icon fa-solid fa-calendar-days fa-5x"></i>

  <div class="animo-text">
    <a href="index.html" class ="no-decor" target="_self">
    <span class="navbar-text header-custom2">
      <div class="custom-color2">
        AnimoLab
      </div>
    </span>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

      <!--ms-auto makes a margin at the left and adjust the contents to the right-->


      <li class="nav-item">
        <a class="nav-link " href="/" target="_self">
          <div class="text-centered text-custom1 custom-color1">
            Home
          </div>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <div class="text-centered text-custom1 custom-color1">
            Login
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">
          <div class="text-centered text-custom1 custom-color1 ">
            Register
          </div>
        </a>
      </li>

    </ul>
  </div>


</nav>
