  <div class="search-results">
        <div class="inner-box">
            <h1> Search a user </h1>
            <form action="search-user-results" method="POST">
                <div>
                    <label>Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label>DLSU ID</label>
                    <input type="text" id="dlsuID" name="dlsuID">
                </div>
                <div>
                    <label>Firstname</label>
                    <input type="text" id="firstname" name="firstname">
                </div><div>
                    <label>Lastname</label>
                    <input type="text" id="lastname" name="lastname">
                </div>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
