

    <section class="lab-slots-browse-section">

      <div class="d-flex flex-column filter-section">
        <div class="filter-section">

          <div class="d-flex filter-part-1">
            <div class="d-flex filter-part-1 align-items-center">

              <h2 class="label-custom-1">Search Name: </h2>
              <div class="d-flex align-items-center mx-3">
                <input type="text" id="search-lab-msg-txt" >
              </div>

            </div>

            <div class="d-flex flex-column filter-part-1">
              <h2 class="label-custom-1">Date: </h2>



              <select class="form-control-input-date" id="inputRoom">

              </select>

              <h2 class="label-custom-1">Room Type: </h2>
              <select class="form-control-input-room" id="inputRoom">
                <option value="room1">Any</option>
                <option value="room1">GK2</option>
                <option value="room2">GK3</option>
                <option value="room3">GK4</option>
              </select>


            </div>



            <div class="d-flex flex-column filter-part-1">
              <h2 class="label-custom-1" name="dropdownFrom">From: </h2>
              <select class="form-control-1" id="fromTime"></select>
              <h2 class="label-custom-1" name="dropdownTo">To: </h2>
              <select class="form-control-2" id="toTime"></select>
            </div>
            <div class="d-flex flex-column filter-part-2">
              <button class="custom-button-6 mx-5" type="button" name="button">Filter</button>
            </div>

          </div>




        </div>

        <div class="lab-choices-section">

        </div>
      </div>
      <br>





    </section>
